body, div, ul {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

button {
  border: none;
  font-size: 12px;
}

.breadcrumb {
  position: sticky;
  top: 0;
  padding: 10px 10px;
  z-index: 10;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 12px;
}

.vscode-dark .breadcrumb {
  background-color: #1e1e1e;
}

.vscode-light .breadcrumb {
  background-color: #ffffff;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  line-height: 1.5;
}

.app {
  width: 75%;
  padding: 16px 0;
}

.vscode-dark .select,
.vscode-dark #eventContent {
  background-color: #212121;
  color: #d3d5e0;
}

.vscode-light .select,
.vscode-light #eventContent {
  background-color: #ffffff;
  color: #212121;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  border: 1px solid rgba(115, 118, 128, 0.5);
  padding: 8px 30px 8px 10px;
  width: 200px;
  font-size: 12px;
  float: right;
  position: relative;
  bottom: 4px;
}

#eventContent {
  margin-top: 20px;
  height: 500px;
}

.info-title {
  font-weight: 700;
  margin-bottom: 18px;
  font-size: 20px;
  margin-left: 8px;
}

.info-tip {
  margin-bottom: 18px;
  margin-left: 8px;
}

.btn {
  padding: 0 12px;
  height: 28px;
  line-height: 14px;
  cursor: pointer;
  margin-left: 8px;
}

.btn.btn-primary {
  background-color: #007acc;
  outline: 1px solid #007acc;
  color: #fff;
}

.btn.btn-primary-green {
  background-color: #317534;
  outline: 1px solid #317534;
  color: #fff;
}

.btn.btn-primary-red {
  background-color: #ed6156;
  outline: 1px solid #ed6156;
  color: #fff;
}

.vscode-dark .btn.btn-second {
  background-color: #212121;
  outline: 1px solid #d3d5e0;
  color: #d3d5e0;
}

.vscode-light .btn.btn-second {
  background-color: #ffffff;
  outline: 1px solid #212121;
  color: #212121;
}

.vscode-dark .disabled {
  background-color: #393939 !important;
  outline: 1px solid #393939 !important;
  color: #979797 !important;
  cursor: no-drop;
}

.vscode-light .disabled {
  background-color: #ababab !important;
  outline: 1px solid #ababab !important;
  cursor: no-drop;
}
