.vscode-dark #eventSelect {
  background-color: #212121;
  color: #d3d5e0;
}

#eventSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  border: 1px solid rgba(115, 118, 128, 0.5);
  padding: 8px 30px 8px 10px;
  width: 200px;
  font-size: 12px;
}

#eventLabel {
  font-size: 12px;
}
