body, div, ul {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

button {
  border: none;
  font-size: 14px;
}

.breadcrumb {
  position: sticky;
  top: 0;
  padding: 10px 10px;
  z-index: 10;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 12px;
}

.vscode-dark .breadcrumb {
  background-color: #1e1e1e;
}

.vscode-light .breadcrumb {
  background-color: #ffffff;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  line-height: 1.5;
}

.app {
  width: 75%;
  padding: 16px 0;
}

.base-info-main {
  width: 100%;
  margin-bottom: 48px;
}

.info-main-title {
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 26px;
}

.base-info-main .base-info-main-title {
  font-weight: 700;
  margin-bottom: 18px;
  font-size: 20px;
}

.base-info-main .base-info-main-subTitle {
  font-weight: 500;
  margin-bottom: 24px;
  font-size: 13px;
}

.base-info-main .container {
  margin-bottom: 24px;
  display: flex;
}

.base-info-main .container .bar {
  width: 50%;
}

.base-info-main .container .bar.left-bar {
  margin-right: 32px;
}

.base-info-main .container .bar.left-bar .item-li .value,
.base-info-main .container .bar.right-bar .item-li .value {
  overflow: auto;
}

.base-info-main .container .bar.left-bar .item-li .key,
.base-info-main .container .bar.right-bar .item-li .key{
  width: 70px;
  min-width: 70px;
}

.base-info-main .container .item-ul {
  font-size: 13px;
}

.base-info-main .container .item-ul .item-li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.base-info-main .container .item-ul .item-li .key {
  display: inline-block;
  margin-right: 10px;
}

.base-info-main .footer button {
  margin-right: 12px;
  margin-top: 12px;
}

.btn {
  padding: 0 19px;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  border-radius: 2px;
}

.btn.btn-primary {
  background-color: #007acc;
  outline: 1px solid #007acc;
  color: #fff;
}
