body, div, ul {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto;
  line-height: 1.5;
}

.app {
  width: 75%;
  padding: 16px 0;
}

.info-title {
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 26px;
}

.container {
  margin-bottom: 24px;
  display: flex;
}

.container .bar {
  width: 50%;
}

.container .item-ul {
  font-size: 13px;
}

.container .bar.left-bar .item-li .value,
.container .bar.right-bar .item-li .value {
  overflow: auto;
}

.container .bar.left-bar .item-li .key,
.container .bar.right-bar .item-li .key{
  width: 70px;
  min-width: 70px;
}

.container .item-ul .item-li {
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;
}

.container .item-ul .item-li .key {
  display: inline-block;
  margin-right: 10px;
}
